<%= form_with(model: blogpost, local: true) do |form| %>
  <% if blogpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blogpost.errors.count, "error") %> prohibited this blogpost from being saved:</h2>

      <ul>
      <% blogpost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-offset-2 col-md-8 col-md-offset-2 work-box">
    <div class="form-inline">
      <div class="form-group  textfield-full">
        <div class="input-group textfield-medium">
          <label for="blogpost_author">Author</label>
          <%= form.text_field :author, id: :blogpost_author, autofocus: true, class: "form-control" %>
        </div><!-- /input-group author -->
        <div class="input-group push-right">
          <label for="blogpost_blogdate">Date</label>
          <%= form.date_select :blogdate, id: :blogpost_blogdate, class: "form-control" %>  
        </div><!--/input-group date -->
      </div><!-- /form group -->
    </div><!-- /form-inline -->

    <div class="field">
      <p>Subject</p>
      <!--<%= form.label :subject %>-->
      <%= form.text_field :subject, id: :blogpost_subject, class: "textfield-full" %>
    </div><!--/field subject -->

    <div class="field">
      <p>Entry</p>
      <!-- <%= form.label :blogentry %> -->
      <%= form.text_area :blogentry, id: :blogpost_blogentry, class: "textarea-full" %>
    </div><!-- field blog entry -->

<!--    <div class="field">     // Add image support later
      <p>Image URL</p>
      <!-- <%= form.label :image_url %> 
      <%= form.text_field :image_url, id: :blogpost_image_url %>
    </div>
-->
    <div class="actions bottom-of-page">
      <%= form.submit "Submit Entry", class: "btn btn-primary" %>
    </div>
  </div><!-- /work-box -->
<% end %>
