<p id="notice"><%= notice %></p>

<div class="header-indent">
  <h1>Bomymo Blog</h1>
  <h3>Blog your heart out</h3>
</div><!-- /header-indent -->

<div class="work-box">
  <% @blogposts.each do |blogpost| %>
    <p class="display-subject"><%= blogpost.subject %></p>
    <p class="entry-summary">
      <%= blogpost.blogentry[0, 100] %>...
      <div class="align-right">
        <%= link_to 'View', blogpost %>
        <%= link_to 'Edit', edit_blogpost_path(blogpost) %>
        <%= link_to 'Delete', blogpost, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </p>

  <% end %>
</div><!--/work-box -->

