<p id="notice"><%= notice %></p>

<h1 class="header-indent"><%= @blogpost.subject %></h1>

<div class="work-box">
  <h4>Posted by <%= @blogpost.author %> on <%= @blogpost.blogdate %></h4>
  <article class="article-box"><%= simple_format(@blogpost.blogentry) %></article>
</div><!--/work-box -->

<div class="header-indent">
  <%= link_to 'Edit', edit_blogpost_path(@blogpost) %>
</div>
